<!DOCTYPE html>
<html lang="en">
    @Html.Partial("_HeadPV");
<body>
    @Html.Partial("_HeaderPV");
    @Html.Partial("_NavigationPV");
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @Html.Partial("_FooterPV");
    @Html.Partial("_ScriptPV");
</body>
</html>
